*{
    font-family: "field-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

body{
    background-color: #F2F2EF;
    overflow-x: hidden;
}

/* Nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .2em solid #424438;
    background-color: #F2F2EF;
    padding: .5em;
}

.icons{
    width: 4vw;
}

/* Hero Image */

.heroContainer{
    position: relative;
    text-align: center;
    border: .2em solid #424438;
    border-top: none;
    border-bottom: none;
}

#heroImage{
    width: 100%;

}

.centered{
    color: white;
    font-size: 6vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
}

#subetext{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 3.5vw;
}


/* Midnight Collection */

.MidnightCol{
    background-color: #424438;
    color: white;
    display: flex;
}

.HPinfo{
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.7vw;
    padding-top: 3vw;
}

#MCimg{
    width: 70%;
}

.leftMC{
    width: 50%;
    padding: 5vw;
}

#titleMC{
    font-size: 10vw;
}

.rightMC{
    width: 50%;
    border: 1px solid #F2F2EF;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ViewCollectionButton{
    display: flex;
    align-items: center;
    padding-top: 5vw;
    justify-content: space-between;
    font-size: 2vw;
    text-decoration: none;
    color: #F2F2EF;
    cursor: pointer;
}

#arrowMC{
    width: 10%;
}


/* Featured products */

.titleOF{
    color: #424438;
    font-size: 2vw;
    border: 1px solid #424438;
    padding: 1vw;
}



.product-container {
   display: flex;
    background-color: #F2F2EF;
    overflow: scroll;
    width: 100vw;

  }


  .product-item {
    background-color: #F2F2EF;
    border: 1px solid #424438;
    padding: 1vw;
    text-align: center;
    color: #424438;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: end;

  }




  .productImage{
    width:25vw;
    display: block;
    margin: auto;
  }

  .Product-Category{
    text-align: start;
    color: #A8B39D;
    font-size: 1.2vw;
  }


.Product-Name{
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
    align-items: end;
}

/* Our story section */

.ourStory{
    background-color: #909987;
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
    border-bottom: 1px solid #424438;
}

.leftOS{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}

#ourStoryIMG{
    width: 100%;
}

#ourStoryTitle{
    font-size: 12vw;
    color: #424438;
}

a{
    text-decoration: none;
}

.ViewMoreButton{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 5vw;
}

.ViewStoryButton{
    font-size: 2vw;
    text-decoration: none;
    color: #F2F2EF;
    cursor: pointer;
}


.rightOS{
    width: 40%;
    padding-left: 5vw;
    padding-right: 5vw;
}



.OSinfo{
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.8vw;
    padding-top: 3vw;
    color: #F2F2EF;
}

/* bottom info section*/

.BottomInfo{
    color:#424438;
    padding: 3vw;
    display: flex;

}

.leftIS{
    width: 50%;

}

.BI-links{
    display: flex;
    font-size: 1.5vw;
    padding-bottom: 3vw;
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#upwards-arrow{
    width: 2%;
    left: 2vw;
}


#membershipInfo{
    font-size: 1vw;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


#ACA-logo{
    width: 7vw;
    padding-top: .5vw;
}


.rightIS{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
}

.locationInfo{
    display: flex;
    align-items: start;
}

.location{
    display: flex;
    align-items: center;
    font-size: 1.5vw;
}

#locationIMG{
    width: 1.5vw;
    display: flex;
    align-items: center;
    padding-right: 1vw;
}


.socials{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: end;

}

.socialsLogos{
    width: 5vw;
    padding-right: 1vw;

}

#socialsCaption{
    font-size: 3vw;
    padding-bottom: 2vw;
    text-align: center;
}


.BottomBar{
    background-color:#424438;
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 1vw;
    padding-left: 3vw;
    color: #F2F2EF;
}

#BottomBarInfo{
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}