*{
    font-family: "field-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color:#F2F2EF;
    overflow-x: hidden;
}



header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3vw;

}

header h1{    
    text-align: center;
    color: #424438;
    font-size: 5em;
    position: relative;
    transform: translate(-50%);
    left: 45%;
}


.return-button img{
    rotate: 180deg;
    width: 2rem;
    position: relative;
}

@media (max-width: 800px){
    .return-button img{
        width: 1rem;
    }

    header h1{    
        font-size: 3em;
    }
}

/* checkout progress marker */

.checkout-progress{
    width: 100%;
    display: flex;
    justify-content: center;
}

.checkout-process-marker{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.checkout-process-checkpoint{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.checkout-process-checkpoint-label{
    font-size: 1rem;
    color: #424438;
    text-transform: uppercase;
    font-weight: 100;
    padding-bottom: 1rem;
}

.connecting-line{
    width: 100%;
    background-color: #424438;
    height: 1px;
}

.checkout-progress-marker-box{
    width: 4rem;
    height: 4rem;
    background-color: #F2F2EF;
    border: 1px solid #424438;
}


.checkout-progress-marker-box-filled{
    background-color: #424438;
}


@media (max-width: 800px){
    .checkout-process-checkpoint-label{
        font-size: .8em;
        padding-bottom: .8rem;
    }
    .checkout-progress-marker-box{
        width: 2rem;
        height: 2rem;
        background-color: #F2F2EF;
        border: 1px solid #424438;
    }

    .connecting-line{
        position: relative;
        top: 25%;
        width: 150%;
        background-color: #424438;
        height: 1px;
    }
    .checkout-progress-marker-box-filled{
        background-color: #424438;
    }
    
}



/* checkout information container */

.checkout-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 5vw;
}

/* payment information */

.order-confirmation{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.confirmation-tick{
    width: 20rem;
    text-align: center;
    padding: 3vw;
    padding-bottom: 1vw;
}


.order-confirmation-informtion{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.order-confirmation-informtion h1{
    color: #424438;
    font-size: 5em;
    text-align: center;
}

.order-confirmation-informtion h2{
    color: #424438;
    font-size: 2em;
    text-align: center;
    padding: 1vw;
    font-weight: 300;
}

.order-confirmation-address{
    font-size: 1.2em;
    font-weight: 100;
}


@media (max-width: 800px){
    .order-confirmation{
        width: 100%;
        padding-bottom: 5vw;
    }


.order-confirmation-informtion h1{
    color: #424438;
    font-size: 3em;
    text-align: center;
}
}



/* Bag products*/



.purchase-information{
    width: 48%;
    border: 1px solid #424438;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.bag-section{
    width: 100%;
}


.bag-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #424438;
    padding: .5rem;
}


.bag-header span{
    font-size: 1rem;
    font-weight: 300;
    color: #424438;
    text-transform: uppercase;
}

.bag-row{
    border-bottom: 1px solid #424438;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: end;
    padding: .5rem;
}


.bag-product{
    width: 50%;
    display: flex;
    align-items: start;
}

.bag-product-image{
    width: 5rem;
    height: auto;
    border: 1px solid #424438;
}


.bag-product-information{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #424438;
    padding-left: 1rem;
}

.bag-product-name{
    font-size: 1.5rem;
}

.bag-product-category{
    font-size: .8rem;
    color: #909987;
}

.bag-quantity{
    width: 25%;
    display: flex;
    justify-content: start;
}

.bag-quantity span{
    color: #424438;
    text-transform: uppercase;
    font-size: 1em;
}







.bag-price {
    width: 33.33%;
    display: flex;
    align-items: end;
    justify-content: end;
    color: #424438;
    font-size: 2em;
    font-weight: 200;
}






@media (max-width: 850px){
    .purchase-information{
        width: 100%;
    }

    .bag-product{
        width: 33.33%;
    }
    .bag-quantity{
        width: 33.33%;
    }

}




/* total */



.bag-total{
    display: flex;
    justify-content: space-between;
    color: #424438;
}


    .bag-total-header{
        font-size: 1.5em;
        font-weight: 400;
    }


    .bag-total-price{
        font-size: 1.5em;
        font-weight: 100;

    }


    .shipping-total{
        display: flex;
        justify-content: space-between;
        color: #424438;
        padding-top: 2vw;
    }
    
    
        .shipping-total-header{
            font-size: 1.5em;
            font-weight: 400;
        }
    
    
        .shipping-total-price{
            font-size: 1.5em;
            font-weight: 100;
        }
    

        .total-cost{
            display: flex;
            justify-content: space-between;
            color: #424438;
            padding-top: 2vw;
        }
        
        
            .total-cost-header{
                font-size: 1.5em;
                font-weight: 400;
            }
        
        
            .total-cost-price{
                font-size: 1.5em;
                font-weight: 100;
            }

    .bag-hidden{
        display: none;
    }


    @media (max-width: 850px) {
        .order-total{
            padding-top: 3rem;
        }
        .bag-section{
            display: none;
        }


        .bag-hidden{
            display: block;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1vw;
            border-bottom: 1px solid #424438;
            cursor: pointer;
        }

        .bag-hidden span{
            font-size: 1.5em;
            color: #424438;
            font-weight: 400;
        }
        
        .expand-bag{
            width: .8em;
        }
        .minimise-bag{
            display: none;
            width: .8em;
            rotate: 90deg;
        }
        
        .minimise-bag.active{
            display: block;
            width: .8em;
            rotate: 90deg;
        }
        .expand-bag.active{
            display: none;
        }

        .bag-section.active{
            display: block;
        }

    }



/* Next button */

    .next-button{
        width: 100%;
        padding-top: 5rem;
    }

    .next-button button{
        color: #F2F2EF;
        background-color: #424438;
        width: 100%;
        border: none;
        padding: .5rem;
        font-size: 2em;
        text-transform: uppercase;
        cursor: pointer;
    }






/* footer */

footer{
    border-top: 1px solid #424438;
    display: flex;
    flex-wrap: wrap;
    padding: 2.3vw;
 }
 
 .footer-menu{
     width: 33.33%;
 }
 
 .footer-menu ul li{
     list-style: none;
     padding-bottom: 1vw;
     font-size: 1.5vw;
     
 }
 
 .footer-menu a{
     color: #424438;
     text-decoration: none;
     
 }
 
 .footer-menu img{
     padding-left: .2vw;
     width: 1vw;
 } 
 
 
 .socials{
     text-align: center;
     color: #424438;
     width: 33.33%;
     font-size: 1.5vw;
 }
 
 .socials-icons img{
     width: 5vw;
     text-decoration: none;
     padding-top: 1vw;
     cursor: pointer;
 }
 
 
 .footer-extra-info{
     width: 33.33%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: end;
 
 }
 
 
 .location{
     display: flex;
     align-items: center;
     color: #424438;
     font-size: 1vw;
     /* float: right; */
 }
 
 .location img{
     width: 1vw;
 }
 
 .membership{
     display: flex;
     flex-direction: column;
     align-items: end;
     text-align: end;
     width: 80%;
 }
 
 .membership img{
     width: 3vw;
     height: auto;
 }
 
 .membership p{
     font-size: 1vw;
     font-weight: 100;
 }
 
 
 
 .footer-copyright{
     width: 100%;
     padding: 1vw;
     padding-left: 2.3vw;
     color: #F2F2EF;
     background-color: #424438;
     font-size: 1vw;
 }
 
 
 @media (max-width: 800px){
 
     footer {
         flex-direction: column;
         padding: 5vw;
     }
     .footer-menu{
         width: 100%;
     }
     
     .footer-menu ul li{
         list-style: none;
         padding-bottom: 1vw;
         font-size: 5vw;
         
     }
     .footer-menu img{
         width: 3vw;
     } 
 
 
     .footer-extra-info{
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: start;
     
     }
 
     .socials{
         padding-top: 5vw;
         text-align: start;
         width: 100%;
         font-size: 4vw;
         padding-bottom: 5vw;
     }
     
     .socials-icons img{
         width: 10vw;
         padding-top: 1vw;
     }
 
 
     .location{
         display: flex;
         color: #424438;
         font-size: 3vw;
         white-space: nowrap;
         padding-bottom: 5vw;
     }
     
     .location img{
         width: 3vw;
     }
     
     .membership{
         display: flex;
         flex-direction: column;
         align-items: start;
         text-align: start;
         width: 100%;
     }
     
     .membership img{
         padding-top: 2vw;
         width: 20vw;
         height: auto;
     }
     
     .membership p{
         font-size: 3vw;
         font-weight: 100;
     }
    
     .footer-copyright{
         font-size: 3vw;
     }
 }