*{
  font-family: "field-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color:#F2F2EF;
  overflow-x: hidden;
}

/* Nav bar */

nav{
  border: 1px solid #424438;
  color: #424438;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.long-form-logo{
  width: 250px;
}

.nav-bar-sections{
  display: flex;
}

.nav-bar-sections a{
  color: #424438;
  text-decoration: none;
}

.nav-bar-sections li{
  list-style: none;
  padding-left: 60px;
  font-size: 20px;
  font-weight: 300;
}

.nav-bar-sections li:hover{
  color: #909987;

}


.search-box{
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #F2F2EF;
  align-items: center;
  padding: 0 30px;
  display: none;
  transition: right 0.5s ease-in-out;
  
}




.search-box input{
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.25em;
  background: #F2F2EF;
  border-bottom: 1px solid #424438;
  color: #424438;
}

.search-box.active{
  right: 0%;
  display: flex;
  transition: 0.5s ease-in-out;

}

.searchBtn{
  cursor: pointer;
}


.closeBtn{
  width: 20px;
  padding-left: 10px;
  cursor: pointer;
}


.mobile-nav{
 display: none;

}

.searchBtn-icon{
  width: 30px;
  padding-left: 10px;
  cursor: pointer;
}

.bag{
  width: 30px;  
  padding-left: 10px;
  cursor: pointer;
}

.hamburger-menu{
  width: 30px;
  padding-left: 10px;
  cursor: pointer;
}

.logo{
  width: 30px;
}



.drop-down-menu{
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #F2F2EF;
  display: none;
}

.drop-down-menu.active{
  display: block;
}


.exit-button{
  width: 20px;
  cursor: pointer;
}


.drop-down-menu-icons{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.drop-down-menu-sections{
  list-style: none;
}

.proceed-arrow{
  width: 10px;
}

.drop-down-menu-sections li{
  padding:10px;
  border-bottom: 1px solid #424438;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop-down-menu-sections a{
  text-decoration: none;
  color: #424438;
  font-size: 30px;

}

@media (max-width: 935px){

  .mobile-nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 5px;
  }

  .nav-icons{
      display: flex;
      align-items: center;
  }

  .long-form-logo{
      display: none;
  }
  
  .nav-bar-sections{
      display: none;
  }
}





  /* Product page - Product Images  */


  .container{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 100%;
    padding-bottom: 5vw;
  }

  .left-side{
    width: 50%;
    display: flex;
    justify-content: center;
  }


  .IMG-container{
    /* background-color: aqua; */
    border: 1px solid #424438;
    width: 90%;
    height: 90vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .IMG-container::-webkit-scrollbar {
    display: none;
  }

  .product-images{
    width: 70%;
  }

  .product-images2{
    width: 100%;
  }




/* Product Page - Product information */

  .right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }  


  .breadcrumbs a{
    color: #424438;
    text-decoration: none;
    font-family: "field-gothic", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
  }

  .breadcrumbs{
    padding: 1vw;
    border-bottom: 1px solid #424438;
    width: 90%;
  }


  .product-header{
    padding: 1vw;
    width: 90%;
    border-bottom: 1px solid #424438;
  }

  .product-title{
    text-transform: uppercase;
    color: #424438;
    font-weight: 400;
    font-size: 6vw;
  }

  .product-category{
    text-transform: uppercase;
    color: #A8B39D;
    font-size: 2vw;
  }


  .product-info{
    color: #424438;
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: 1vw;
    font-size: 1vw;
    border-bottom: 1px solid #424438;
    width: 90%;
  }


  .product-measurements{
    padding-top: 2vh;
  }

  .product-measurements p{
    font-size: 1vw;
    font-weight: 100;
  }


  #product-info-caution{
    padding-top: 2vh;
  }


  .product-price-quantity{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #424438;
    padding: 1.4vw;
    font-size: 2.5vw;
    
  }


  .quantity-selector{
    display: flex;
    align-items: center;
    
  }


  .minus{
    border: 1px solid #424438;
    cursor: pointer;
    width: 4vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }

  .num{
    border-top: 1px solid #424438;
    border-bottom: 1px solid #424438;
    width: 4vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }


  .plus{
    border: 1px solid #424438;
    cursor: pointer;
    width: 4vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }
  


.add-to-bag{
    width: 90%;
    color: #F2F2EF;
    background-color: #424438;
    border: none;
    padding: 1vw;
    font-size: 2vw;
    cursor: pointer;

}


@media (max-width: 800px){
    .container{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        width: 100%;

      }

    .right-side{
        width: 100%;
    }
    .left-side{
        width: 100%;
    }

    .IMG-container{
        /* background-color: aqua; */
        border-top: none;
        border-bottom: 1px solid #424438;
        width: 100%;
        height: 70vh;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        overflow: auto;
        -webkit-scroll-snap-type: x mandatory;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        align-items: center;
      }

      .product-images{
        height: 70%;
        width: auto;
        display: flex;
        justify-content: center;
      }
    
      .product-images2{
        height: 100%;
        width: auto;
      }
    
      .breadcrumbs a{
        font-size: 1em;
      }

      .breadcrumbs{
        border-bottom: 1px solid #424438;
      }

      .product-title{
        font-size: 20vw;
      }

      .product-category{
        font-size: 5vw;
      }


      .product-info{
        color: #424438;
        padding-top: 4vw;
        padding-bottom: 4vw;
        padding-left: 1vw;
        font-size: 3vw;
      }
    
    
      .product-measurements{
        padding-top: 2vh;
      }
    
      .product-measurements p{
        font-size: 4vw;
        font-weight: 100;
      }
    
    
      #product-info-caution{
        padding-top: 2vh;
      }
    
      .product-price-quantity{
        font-size: 6vw;
      }
    
    
      .quantity-selector{
        display: flex;
        align-items: center;
      }
    
    
      .minus{
        width: 12vw;
        height: 10vw;
      }
    
      .num{
        width: 12vw;
        height: 10vw;
      }
    
    
      .plus{
        width: 12vw;
        height: 10vw;
      }
      
    
    
    .add-to-bag{
        width: 90%;
        color: #F2F2EF;
        background-color: #424438;
        border: none;
        padding: 1.5vw;
        font-size: 10vw;
        cursor: pointer;
    }


}

/* footer */

footer{
   border-top: 1px solid #424438;
   display: flex;
   flex-wrap: wrap;
   padding: 2.3vw;
}

.footer-menu{
    width: 33.33%;
}

.footer-menu ul li{
    list-style: none;
    padding-bottom: 1vw;
    font-size: 1.5vw;
    
}

.footer-menu a{
    color: #424438;
    text-decoration: none;
    
}

.footer-menu img{
    padding-left: .2vw;
    width: 1vw;
} 


.socials{
    text-align: center;
    color: #424438;
    width: 33.33%;
    font-size: 1.5vw;
}

.socials-icons img{
    width: 5vw;
    text-decoration: none;
    padding-top: 1vw;
    cursor: pointer;
}


.footer-extra-info{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

}


.location{
    display: flex;
    align-items: center;
    color: #424438;
    font-size: 1vw;
    /* float: right; */
}

.location img{
    width: 1vw;
}

.membership{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    width: 80%;
}

.membership img{
    width: 3vw;
    height: auto;
}

.membership p{
    font-size: 1vw;
    font-weight: 100;
}



.footer-copyright{
    width: 100%;
    padding: 1vw;
    padding-left: 2.3vw;
    color: #F2F2EF;
    background-color: #424438;
    font-size: 1vw;
}


@media (max-width: 800px){

    footer {
        flex-direction: column;
        padding: 5vw;
    }
    .footer-menu{
        width: 100%;
    }
    
    .footer-menu ul li{
        list-style: none;
        padding-bottom: 1vw;
        font-size: 5vw;
        
    }
    .footer-menu img{
        width: 3vw;
    } 


    .footer-extra-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    
    }

    .socials{
        padding-top: 5vw;
        text-align: start;
        width: 100%;
        font-size: 4vw;
        padding-bottom: 5vw;
    }
    
    .socials-icons img{
        width: 10vw;
        padding-top: 1vw;
    }


    .location{
        display: flex;
        color: #424438;
        font-size: 3vw;
        white-space: nowrap;
        padding-bottom: 5vw;
    }
    
    .location img{
        width: 3vw;
    }
    
    .membership{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        width: 100%;
    }
    
    .membership img{
        padding-top: 2vw;
        width: 20vw;
        height: auto;
    }
    
    .membership p{
        font-size: 3vw;
        font-weight: 100;
    }
    




    .footer-copyright{
        font-size: 3vw;
    }
}