*{
    font-family: "field-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color:#F2F2EF;
    overflow-x: hidden;
}


/* checkout information container */

.checkout-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 5vw;
}

/* payment information */

.payment-information{
    width: 48%;
}

.payment-method-background{
    width: 100%;
    border: 1px solid #424438;
    margin:-1px;
    color: #424438;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-self: end;
    font-size: 1.5em;
    height: 4rem;
}


.payment-method-background input{
    accent-color: #424438;
    background-color: #F2F2EF;
    color: #F2F2EF;
}

.payment-icon{
    height: 1.5rem;
    width: auto;
}

.credit-card-details-form{
    border: 1px solid #424438;
    margin:-1px;    
    padding: 1vw;
    width: 100%;
    display: none;
}


.credit-card-details-form.active{
    display: block;
}


.input-full-length{
    color: #424438;
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.2em;
    border-bottom: 1px solid #424438;
    font-weight: 200;
}

.input-full-length:focus {
    outline: none;
}

::placeholder{
    color: #909987;
}

.card-details-spacing{
    padding-bottom: 2rem;
}

.billing-address label{
    font-size: 1em;
    font-weight: 100;
}


.billing-address input{
    accent-color:#424438;
    mix-blend-mode: multiply;
}

@media (max-width: 850px){
    .payment-information{
        width: 100%;
        padding-bottom: 2rem;
    }

    .payment-method-background{
        height: 4rem;
    }
    
    .credit-card-details-form{  
        padding: 7vw;
    }

}


/* Next button */

.next-button{
    width: 100%;
    padding-top: 5rem;
}

.next-button button{
    color: #F2F2EF;
    background-color: #424438;
    width: 100%;
    border: none;
    padding: .5rem;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
}


