*{
    font-family: "field-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color:#F2F2EF;
    overflow-x: hidden;
}




/* checkout information container */

.checkout-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 5vw;
}

.customer-information{
    width: 48%;
}





.customer-information-inputs{
    padding-bottom: 3rem;
}


.customer-information-subheading{
    font-size: 1.5em;
    color: #424438;
    font-weight: 500;
    padding-bottom: 2rem;

}


.input-full-length{
    color: #424438;
    background-color: #F2F2EF;
    border: none;
    width: 100%;
    font-size: 1.2em;
    border-bottom: 1px solid #424438;
    padding-left: .5rem;
    padding-bottom: .1rem;
    font-weight: 200;
}



.radio-button-background{
    color: #424438;
    padding: 1vw;
    border: 1px solid #424438;
    margin:-1px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}


.radio-button-background2{
    color: #424438;
    padding: 1vw;
    border: 1px solid #424438;
    margin:-1px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.radio-button-background2 input{
    accent-color: #424438;
    background-color: #F2F2EF;
    color: #F2F2EF;
}


.radio-button-background2.active{
    background-color: #D0D6C1;
}



.radio-button-background.active{
    background-color: #D0D6C1;
}


.radio-button-background input{
    accent-color: #424438;
    background-color: #F2F2EF;
    color: #F2F2EF;
}



.ship-icon{
    height: auto;
    width: 1rem;
}

.pickup-icon{
    width: 1rem;
    height: auto;
}


.input-half-length{
    color: #424438;
    background-color: #F2F2EF;
    border: none;
    width: 45%;
    font-size: 1.2em;
    border-bottom: 1px solid #424438;
    padding-left: .5rem;
    padding-bottom: .1rem;
    font-weight: 200;
}

.customer-name-information{
    display: flex;
    justify-content: space-between;
}

.customer-information-spacing{
    padding-bottom: 2rem;

}


.customer-region-information{
    display: flex;
    justify-content: space-between;
}

.input-thirds-length{
    color: #424438;
    background-color: #F2F2EF;
    border: none;
    width: 30%;
    font-size: 1.2em;
    border-bottom: 1px solid #424438;
    padding-left: .5rem;
    padding-bottom: .1rem;
    font-weight: 200;
}

::placeholder{
    color: #909987;
}

.input-full-length:focus {
    outline: none;
}


.input-half-length:focus {
    outline: none;
}

.input-thirds-length:focus {
    outline: none;
}



.customer-information-bottom-section{
    padding-top: 5rem;
}


.radio-button-background span{
    font-size: 1em;
    font-weight: 200;
}


.shipping-method{
    padding-bottom: 3rem;
}

@media (max-width: 850px){
    .customer-information{
        width: 100%;
        padding-bottom: 3rem;
    }
}





