*{
  font-family: "field-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color:#F2F2EF;
  overflow-x: hidden;
}



  /* Product page - Product Images  */


  .container{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 100%;
    padding-bottom: 5vw;
  }

  .left-side{
    width: 50%;
    display: flex;
    justify-content: center;
  }


  .IMG-container{
    /* background-color: aqua; */
    border: 1px solid #424438;
    width: 90%;
    height: 90vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .IMG-container::-webkit-scrollbar {
    display: none;
  }

  .product-images{
    width: 70%;
  }

  .product-images2{
    width: 100%;
  }




/* Product Page - Product information */

  .right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }  


  .breadcrumbs a{
    color: #424438;
    text-decoration: none;
    font-family: "field-gothic", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
  }
  .breadcrumbs a:hover{
    color: #909987;
  }

  .breadcrumbs{
    padding: 1vw;
    border-bottom: 1px solid #424438;
    width: 90%;
  }


  .product-header{
    padding: 1vw;
    width: 90%;
    border-bottom: 1px solid #424438;
  }

  .product-title{
    text-transform: uppercase;
    color: #424438;
    font-weight: 400;
    font-size: 6vw;
  }

  .product-category{
    text-transform: uppercase;
    color: #A8B39D;
    font-size: 2vw;
  }


  .product-info{
    color: #424438;
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: 1vw;
    font-size: 1vw;
    border-bottom: 1px solid #424438;
    width: 90%;
  }


  .product-measurements{
    padding-top: 2vh;
  }

  .product-measurements p{
    font-size: 1vw;
    font-weight: 100;
  }


  #product-info-caution{
    padding-top: 2vh;
  }


  .product-price-quantity{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #424438;
    padding: 1.4vw;
    font-size: 2.5vw;
    
  }


  .quantity-selector{
    display: flex;
    align-items: center;
    
  }


  .minus{
    border: 1px solid #424438;
    cursor: pointer;
    width: 4vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }

  .num{
    border-top: 1px solid #424438;
    border-bottom: 1px solid #424438;
    width: 4vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }


  .plus{
    border: 1px solid #424438;
    cursor: pointer;
    width: 4vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }
  


.add-to-bag{
    width: 90%;
    padding: 1vw;
}

.add-to-bag button{
    color: #F2F2EF;
    width: 100%;
    background-color: #424438;
    border: none;
    padding: 1vw;
    font-size: 2vw;
    cursor:pointer
}




@media (max-width: 800px){
    .container{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        width: 100%;

      }

    .right-side{
        width: 100%;
    }
    .left-side{
        width: 100%;
    }

    .IMG-container{
        /* background-color: aqua; */
        border-top: none;
        border-bottom: 1px solid #424438;
        width: 100%;
        height: 70vh;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        overflow: auto;
        -webkit-scroll-snap-type: x mandatory;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        align-items: center;
      }

      .product-images{
        height: 70%;
        width: auto;
        display: flex;
        justify-content: center;
      }
    
      .product-images2{
        height: 100%;
        width: auto;
      }
    
      .breadcrumbs a{
        font-size: 1em;
      }

      .breadcrumbs{
        border-bottom: 1px solid #424438;
      }

      .product-title{
        font-size: 20vw;
      }

      .product-category{
        font-size: 5vw;
      }


      .product-info{
        color: #424438;
        padding-top: 4vw;
        padding-bottom: 4vw;
        padding-left: 1vw;
        font-size: 3vw;
      }
    
    
      .product-measurements{
        padding-top: 2vh;
      }
    
      .product-measurements p{
        font-size: 4vw;
        font-weight: 100;
      }
    
    
      #product-info-caution{
        padding-top: 2vh;
      }
    
      .product-price-quantity{
        font-size: 6vw;
      }
    
    
      .quantity-selector{
        display: flex;
        align-items: center;
      }
    
    
      .minus{
        width: 12vw;
        height: 10vw;
      }
    
      .num{
        width: 12vw;
        height: 10vw;
      }
    
    
      .plus{
        width: 12vw;
        height: 10vw;
      }
      
    
    
    .add-to-bag{
        width: 90%;
        color: #F2F2EF;
        background-color: #424438;
        border: none;
        padding: 1.5vw;
        font-size: 10vw;
        cursor: pointer;
    }


}
