*{
    font-family: "field-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color:#F2F2EF;
    overflow-x: hidden;
}

/* Nav bar */

nav{
    border: 1px solid #424438;
    color: #424438;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.long-form-logo{
    width: 250px;
}

.nav-bar-sections{
    display: flex;
}

.nav-bar-sections a{
    color: #424438;
    text-decoration: none;
}

.nav-bar-sections li{
    list-style: none;
    padding-left: 60px;
    font-size: 20px;
    font-weight: 300;
}

.nav-bar-sections li:hover{
    color: #909987;

}


.search-box{
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #F2F2EF;
    align-items: center;
    padding: 0 30px;
    display: none;
    transition: right 0.5s ease-in-out;
    
}




.search-box input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.25em;
    background: #F2F2EF;
    border-bottom: 1px solid #424438;
    color: #424438;
}

.search-box.active{
    right: 0%;
    display: flex;
    transition: 0.5s ease-in-out;

}

.searchBtn{
    cursor: pointer;
}


.closeBtn{
    width: 20px;
    padding-left: 10px;
    cursor: pointer;
}


.mobile-nav{
   display: none;

}

.searchBtn-icon{
    width: 30px;
    padding-left: 10px;
    cursor: pointer;
}

.bag{
    width: 30px;  
    padding-left: 10px;
    cursor: pointer;
}

.hamburger-menu{
    width: 30px;
    padding-left: 10px;
    cursor: pointer;
}

.logo{
    width: 30px;
}



.drop-down-menu{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #F2F2EF;
    display: none;
}

.drop-down-menu.active{
    display: block;
}


.exit-button{
    width: 20px;
    cursor: pointer;
}


.drop-down-menu-icons{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.drop-down-menu-sections{
    list-style: none;
}

.proceed-arrow{
    width: 10px;
}

.drop-down-menu-sections li{
    padding:10px;
    border-bottom: 1px solid #424438;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop-down-menu-sections a{
    text-decoration: none;
    color: #424438;
    font-size: 30px;

}

@media (max-width: 935px){

    .mobile-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 5px;
    }

    .nav-icons{
        display: flex;
        align-items: center;
    }

    .long-form-logo{
        display: none;
    }
    
    .nav-bar-sections{
        display: none;
    }
}





/* Page header */


.page-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F2F2EF;
    color: #424438;
    padding: 8vw;
    padding-bottom: 0;
    font-size: 50px;
  }
  
  
  @media (max-width: 800px){
    .page-header{
      padding: 5vw;
      font-size: 30px;
      border-bottom: 1px solid #424438;
    }
  
  }





/* Bag list*/

.bag-section{
    width: 100%;
    padding: 5vw;
}


.bag-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #424438;
    padding: .5rem;
}


.bag-header span{
    font-size: 1rem;
    font-weight: 300;
    color: #424438;
    text-transform: uppercase;
}

.bag-row{
    border-bottom: 1px solid #424438;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem;
}

.bag-product{
    display: flex;
    align-items: center;
}

.bag-product-image{
    width: 10rem;
    height: auto;
    border: 1px solid #424438;
}


.bag-product-information{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #424438;
    padding-left: 1rem;
}

.bag-product-name{
    font-size: 3rem;
}

.bag-product-category{
    font-size: 1rem;
    color: #909987;
}


.bag-quantity-input{
    width: 40px;
    height: 30px;
    border: 1px solid #424438;
    background-color: #F2F2EF;
    color: #424438;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
}


.remove-btn {
    color: #424438;
    text-decoration: underline;
    background-color: none;
    border: none;
    padding-left: 10px;
    text-transform: uppercase;
}

.remove-btn:hover {
    color: #909987;
}


.bag-price {
    display: flex;
    justify-content: end;
    color: #424438;
    font-size: 2em;
    font-weight: 100;
}