*{
  font-family: "field-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color:#F2F2EF;
  overflow-x: hidden;
}

/* Nav bar */

nav{
  border: 1px solid #424438;
  color: #424438;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.long-form-logo{
  width: 250px;
}

.nav-bar-sections{
  display: flex;
}

.nav-bar-sections a{
  color: #424438;
  text-decoration: none;
}

.nav-bar-sections li{
  list-style: none;
  padding-left: 60px;
  font-size: 20px;
  font-weight: 300;
}

.nav-bar-sections li:hover{
  color: #909987;

}


.search-box{
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #F2F2EF;
  align-items: center;
  padding: 0 30px;
  display: none;
  transition: right 0.5s ease-in-out;
  
}




.search-box input{
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.25em;
  background: #F2F2EF;
  border-bottom: 1px solid #424438;
  color: #424438;
}

.search-box.active{
  right: 0%;
  display: flex;
  transition: 0.5s ease-in-out;

}

.searchBtn{
  cursor: pointer;
}


.closeBtn{
  width: 20px;
  padding-left: 10px;
  cursor: pointer;
}


.mobile-nav{
 display: none;

}

.searchBtn-icon{
  width: 30px;
  padding-left: 10px;
  cursor: pointer;
}

.bag{
  width: 30px;  
  padding-left: 10px;
  cursor: pointer;
}

.hamburger-menu{
  width: 30px;
  padding-left: 10px;
  cursor: pointer;
}

.logo{
  width: 30px;
}



.drop-down-menu{
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #F2F2EF;
  display: none;
}

.drop-down-menu.active{
  display: block;
}


.exit-button{
  width: 20px;
  cursor: pointer;
}


.drop-down-menu-icons{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.drop-down-menu-sections{
  list-style: none;
}

.proceed-arrow{
  width: 10px;
}

.drop-down-menu-sections li{
  padding:10px;
  border-bottom: 1px solid #424438;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop-down-menu-sections a{
  text-decoration: none;
  color: #424438;
  font-size: 30px;

}

@media (max-width: 935px){

  .mobile-nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 5px;
  }

  .nav-icons{
      display: flex;
      align-items: center;
  }

  .long-form-logo{
      display: none;
  }
  
  .nav-bar-sections{
      display: none;
  }
}






/* Page header */

.page-header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F2F2EF;
  color: #424438;
  border-bottom: 1px solid #424438;
  border-left: 1px solid #424438;
  border-right: 1px solid #424438;
  padding: 8vw;
  font-size: 50px;
}


@media (max-width: 800px){
  .page-header{
    padding: 5vw;
    font-size: 30px;
  }

}

/* Product filter and sort buttons */

.product-list-modifier{
  display: flex;
  color: #424438;
  font-size: 20px;
}


.filterBtn{
  width: 50%;
  border-bottom:1px solid #424438;
  border-left:1px solid #424438;
  border-right:1px solid #424438;
  padding: 1vw;
  display: flex;
  align-items: center;
}

.sortBtn{
  width: 50%;
  border-bottom:1px solid #424438;
  border-right:1px solid #424438;
  padding: 1vw;
  display: flex;
  align-items: center;
}

.modifier-arrow{
  width: 2.5vw;
  height: auto;
  padding-left: 1vw;
}



@media (max-width: 800px){
  .product-list-modifier{
    font-size: 8px
  }
  

.modifier-arrow{
  width: 3vw;
  height: auto;
}

}





/* products cards */

.product-container {
  background-color: #F2F2EF;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
 }


 .product-item {
   background-color: #F2F2EF;
   border-bottom: 1px solid #424438;
   border-right: 1px solid #424438;
   padding: 1vw;
   text-align: center;
   color: #424438;
   width: 25%;
   height: 55vh;
   display: flex;
   flex-direction: column;
   justify-content: end;
   cursor: pointer;
   text-decoration: none;
 }

 .productImage{
   width:70%;
   display: block;
   margin: auto;
 }

 .Product-Category{
   text-align: start;
   color: #A8B39D;
   font-size: .8vw;
   text-transform: uppercase;
 }


.Product-Name{
   display: flex;
   justify-content: space-between;
   font-size: 1vw;
   align-items: end;
   text-transform: uppercase;
}


@media (max-width: 800px){

  
   .product-item {
     width: 50%;
   }
}



/* footer */

footer{
  border-top: 1px solid #424438;
  display: flex;
  flex-wrap: wrap;
  padding: 2.3vw;
}

.footer-menu{
   width: 33.33%;
}

.footer-menu ul li{
   list-style: none;
   padding-bottom: 1vw;
   font-size: 1.5vw;
   
}

.footer-menu a{
   color: #424438;
   text-decoration: none;
   
}

.footer-menu img{
   padding-left: .2vw;
   width: 1vw;
} 


.socials{
   text-align: center;
   color: #424438;
   width: 33.33%;
   font-size: 1.5vw;
}

.socials-icons img{
   width: 5vw;
   text-decoration: none;
   padding-top: 1vw;
   cursor: pointer;
}


.footer-extra-info{
   width: 33.33%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: end;

}


.location{
   display: flex;
   align-items: center;
   color: #424438;
   font-size: 1vw;
   /* float: right; */
}

.location img{
   width: 1vw;
}

.membership{
   display: flex;
   flex-direction: column;
   align-items: end;
   text-align: end;
   width: 80%;
}

.membership img{
   width: 3vw;
   height: auto;
}

.membership p{
   font-size: 1vw;
   font-weight: 100;
}



.footer-copyright{
   width: 100%;
   padding: 1vw;
   padding-left: 2.3vw;
   color: #F2F2EF;
   background-color: #424438;
   font-size: 1vw;
}


@media (max-width: 800px){

   footer {
       flex-direction: column;
       padding: 5vw;
   }
   .footer-menu{
       width: 100%;
   }
   
   .footer-menu ul li{
       list-style: none;
       padding-bottom: 1vw;
       font-size: 5vw;
       
   }
   .footer-menu img{
       width: 3vw;
   } 


   .footer-extra-info{
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: start;
   
   }

   .socials{
       padding-top: 5vw;
       text-align: start;
       width: 100%;
       font-size: 4vw;
       padding-bottom: 5vw;
   }
   
   .socials-icons img{
       width: 10vw;
       padding-top: 1vw;
   }


   .location{
       display: flex;
       color: #424438;
       font-size: 3vw;
       white-space: nowrap;
       padding-bottom: 5vw;
   }
   
   .location img{
       width: 3vw;
   }
   
   .membership{
       display: flex;
       flex-direction: column;
       align-items: start;
       text-align: start;
       width: 100%;
   }
   
   .membership img{
       padding-top: 2vw;
       width: 20vw;
       height: auto;
   }
   
   .membership p{
       font-size: 3vw;
       font-weight: 100;
   }
   




   .footer-copyright{
       font-size: 3vw;
   }
}


